.main-contact {
  margin: 0;
  padding: 0;
  background-color: #016ed0;
  background-image: url("../img/background2.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}
.main-contact__wrapper {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  text-align: center;
}
.main-contact__title {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  font-family: "Montserrat Extra";
  font-size: 40px;
  line-height: 51.81px;
  color: #ffffff;
}
.main-contact__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 68px;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
}
.main-contact__item {
  margin: 0 auto;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 19px;
  line-height: 29.08px;
  color: #ffffff;
  text-align: left;
}
.main-contact__item::before {
  position: absolute;
  content: "";
  top: -44px;
  left: 30px;
  width: 150px;
  height: 150px;
  background-image: url("../img/contact-address.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}
.main-contact__item:nth-child(2)::before {
  top: -50px;
  left: 40px;
  background-image: url("../img/contact-mail.png");
}
.main-contact__item:nth-child(3)::before {
  top: -44px;
  left: -10px;
  background-image: url("../img/contact-skype.png");
}
.main-contact__link {
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 768px) {
  .main-contact__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1170px) {
  .main-contact__wrapper {
    margin: 0 auto;
    max-width: 1170px;
  }
  .main-contact__title {
    font-size: 50px;
  }
  .main-contact__list {
    margin: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-contact__item {
    padding-top: 40px;
    padding-left: 80px;
  }
  .main-contact__item::before {
    top: 10px;
    left: -55px;
  }
  .main-contact__item:nth-child(2)::before {
    top: -22px;
    left: -45px;
  }
  .main-contact__item:nth-child(3)::before {
    top: -15px;
    left: -55px;
  }
}
