.main-header-nav {
  margin: 0;
  padding: 0;
  padding-bottom: 34px;
  background-color: #f8fcff;
  border-bottom: 7px solid #009ce3;
}
.main-header-nav__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-header-nav__logo {
  margin: 0 auto;
  margin-top: 49px;
  padding: 0;
  font-family: "Montserrat";
  font-size: 36px;
  line-height: 36px;
  color: #3366cc;
}
.main-header-nav__logo b {
  margin: 0;
  padding: 0;
  color: #0099ff;
}
.main-header-nav__menu {
  margin: 0 auto;
  margin-top: 47px;
  padding: 0;
}
.main-header-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
}
.main-header-nav__item {
  margin: 0;
  padding: 0;
}
.main-header-nav__link {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  line-height: 51.81px;
  color: #3c3c3c;
  text-decoration: none;
}
.main-header-nav__link:hover {
  color: #009ce3;
}
@media (min-width: 768px) {
  .main-header-nav__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-header-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-header-nav__item {
    margin-right: 15px;
  }
  .main-header-nav__item:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1170px) {
  .main-header-nav__wrapper {
    margin: 0 auto;
    max-width: 1170px;
  }
  .main-header-nav__item {
    margin-right: 40px;
  }
}
