.main-why {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.main-why__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 19.9%;
  padding: 0;
  padding-top: 155px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.main-why__block {
  margin: 0;
  padding: 0;
}
.main-why__title {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Extra";
  font-size: 50px;
  line-height: 51.81px;
  color: #3c3c3c;
}
.main-why__text {
  margin: 0;
  margin-top: 64px;
  padding: 0;
  max-width: 700px;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 19px;
  line-height: 29.13px;
  color: #4f4f4f;
}
.main-why__text:nth-child(3) {
  margin-top: 35px;
}
.main-why__button {
  margin-top: 70px;
  margin-bottom: 40px;
}
.main-why__photo {
  margin: 0;
  margin-top: 80px;
  margin-left: 7.5%;
  padding: 0;
}
