.main-header-contacts {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  background-color: #292929;
}
.main-header-contacts__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.main-header-contacts__list-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
}
.main-header-contacts__item-social {
  margin: 0 5px;
  padding: 0;
}
.main-header-contacts__link-social {
  margin: 0;
  padding: 0;
}
.main-header-contacts__icon-social {
  display: block;
  margin: 0;
  padding: 0;
}
.main-header-contacts__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 11px;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
}
.main-header-contacts__item {
  margin: 0;
  margin-right: 47px;
  padding: 0;
}
.main-header-contacts__item:last-child {
  margin-right: 0;
}
.main-header-contacts__link {
  margin: 0;
  padding: 0;
  padding-left: 23px;
  position: relative;
  color: #ffffff;
  text-decoration: none;
}
.main-header-contacts__link--skype::before {
  position: absolute;
  content: "";
  top: 2px;
  left: -1px;
  width: 15px;
  height: 15px;
  background-image: url("../img/SKYPE.png");
  background-repeat: no-repeat;
}
.main-header-contacts__link--mail::before {
  position: absolute;
  content: "";
  top: 4px;
  left: -1px;
  width: 18px;
  height: 13px;
  background-image: url("../img/EMAIL.png");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .main-header-contacts__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-header-contacts__list-social {
    margin: 0;
    margin-top: 10px;
    margin-left: 20%;
  }
  .main-header-contacts__list {
    margin: 0;
    margin-top: 11px;
    margin-right: 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1170px) {
  .main-header-contacts__wrapper {
    margin: 0 auto;
    max-width: 1170px;
  }
  .main-header-contacts__list-social {
    margin-left: 10%;
  }
}
