.main-option {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.main-option__wrapper {
  margin: 0;
  margin-top: 168px;
  margin-left: 19.3%;
  padding: 0;
  padding-bottom: 97px;
}
.main-option__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.main-option__item {
  margin: 0;
  margin-right: 7.5%;
  padding: 0;
  padding-top: 150px;
  position: relative;
  text-align: center;
}
.main-option__item:nth-child(2) {
  margin-right: 7.2%;
}
.main-option__item:last-child {
  margin-right: 0;
}
.main-option__item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 93px;
  width: 120px;
  height: 112px;
  background-image: url("../img/option-guest.png");
  background-repeat: no-repeat;
}
.main-option__item:nth-child(2)::before {
  top: -9px;
  left: 99px;
  width: 115px;
  height: 119px;
  background-image: url("../img/option-news.png");
}
.main-option__item:nth-child(3)::before {
  top: 2px;
  left: 106px;
  width: 109px;
  height: 114px;
  background-image: url("../img/option-edu.png");
}
.main-option__item-title {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 24px;
  line-height: 29.13px;
  color: #0d3693;
}
.main-option__item-price {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 24px;
  line-height: 29.13px;
  color: #4f4f4f;
}
.main-option__item-text {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 19px;
  line-height: 29.13px;
  color: #4f4f4f;
}
