.main-footer {
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
}
.main-footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0 10%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.main-footer__title {
  margin: 0;
  padding: 50px 0;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}
.main-footer__toggle {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 53px;
  right: 6%;
  width: 40px;
  height: 30px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.main-footer__toggle::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 13px 0 #ffffff;
          box-shadow: 0 13px 0 #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.main-footer__toggle::after {
  position: absolute;
  content: "";
  top: 26px;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.main-footer__wrapper--open .main-footer__toggle::before {
  top: 13px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.main-footer__wrapper--open .main-footer__toggle::after {
  top: 13px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-footer__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -2000px;
  right: 6%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  background-color: rgba(27, 27, 27, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  opacity: 0;
}
.main-footer__wrapper--open .main-footer__list {
  top: -154px;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.main-footer__item {
  margin: 0;
  padding: 2px 20px;
  padding-right: 25px;
}
.main-footer__link {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
  text-decoration: none;
}
.main-footer__link:hover,
.main-footer__link:focus {
  text-shadow: 0 0 1px #ffffff;
}
.main-footer__list-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
}
.main-footer__item-social {
  margin: 0;
  margin-right: 25px;
  padding: 0;
}
.main-footer__item-social:last-child {
  margin-right: 0;
}
.main-footer__link-social {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    padding: 0 5%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-footer__toggle {
    display: none;
  }
  .main-footer__list {
    margin-top: 60px;
    margin-left: 5%;
    position: relative;
    top: auto;
    right: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-basis: 58%;
        -ms-flex-preferred-size: 58%;
            flex-basis: 58%;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 1;
  }
  .main-footer__wrapper--open .main-footer__list {
    top: auto;
  }
  .main-footer__item {
    margin-right: 3%;
    padding: 0;
  }
  .main-footer__item:last-child {
    margin-right: 0;
  }
  .main-footer__list-social {
    margin-top: 48px;
  }
}
@media (min-width: 1170px) {
  .main-footer {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .main-footer__wrapper {
    max-width: 1170px;
  }
  .main-footer__item {
    margin-right: 40px;
  }
}
