.main-footer {
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
}
.main-footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.main-footer__title {
  margin: 0 auto;
  padding: 50px 0;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}
.main-footer__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
}
.main-footer__item {
  margin: 0;
  padding: 0;
}
.main-footer__link {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
  font-weight: normal;
  font-size: 17px;
  line-height: 51.81px;
  color: #ffffff;
  text-decoration: none;
}
.main-footer__list-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
}
.main-footer__item-social {
  margin: 0;
  margin-right: 25px;
  padding: 0;
}
.main-footer__item-social:last-child {
  margin-right: 0;
}
.main-footer__link-social {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-footer__list {
    margin-top: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-footer__item {
    margin-right: 15px;
  }
  .main-footer__list-social {
    margin-top: 50px;
  }
}
@media (min-width: 1170px) {
  .main-footer {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .main-footer__wrapper {
    max-width: 1170px;
  }
  .main-footer__item {
    margin-right: 40px;
  }
}
