.main-benefits {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.main-benefits__wrapper {
  margin: 0;
  padding: 0;
}
.main-benefits__title {
  margin: 0;
  margin-left: 19.8%;
  padding: 0;
  padding-top: 128px;
  font-family: "Montserrat Extra";
  font-size: 50px;
  line-height: 51.81px;
  color: #3c3c3c;
}
.main-benefits__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 92px;
  margin-left: 19.8%;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
}
.main-benefits__item {
  margin: 0;
  margin-right: 1.8%;
  margin-bottom: 92px;
  padding: 0;
  padding-left: 130px;
  position: relative;
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
}
.main-benefits__item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 104px;
  height: 105px;
  background-image: url("../img/benefits-promote.png");
  background-repeat: no-repeat;
}
.main-benefits__item:nth-child(2)::before {
  top: -15px;
  left: -8px;
  width: 101px;
  height: 106px;
  background-image: url("../img/benefits-rep.png");
}
.main-benefits__item:nth-child(3)::before {
  top: -4px;
  left: 25px;
  width: 92px;
  height: 120px;
  background-image: url("../img/benefits-search.png");
}
.main-benefits__item:nth-child(4)::before {
  top: -4px;
  left: -5px;
  width: 97px;
  height: 119px;
  background-image: url("../img/benefits-money.png");
}
.main-benefits__item-title {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #0d3693;
}
.main-benefits__item-text {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 19px;
  line-height: 29.13px;
  color: #4f4f4f;
}
