@import "../variabless.less";

.main-footer {
  margin: 0;
  padding: 0;

  background-color: #1b1b1b;
}

.main-footer__wrapper {
  display: flex;

  margin: 0 auto;
  padding: 0 5%;

  flex-direction: column;
  flex-wrap: wrap;
}

.main-footer__title {
  margin: 0 auto;
  padding: 50px 0;

  font-family: "Montserrat";
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.main-footer__list {
  display: flex;

  margin: 0 auto;
  padding: 0;

  flex-direction: column;
  flex-wrap: wrap;

  list-style: none;
}

.main-footer__item {
  margin: 0;
  padding: 0;
}

.main-footer__link {
  margin: 0;
  padding: 0;

  font-family: "Source Sans Pro";
  font-weight: normal;
  font-size: 17px;
  line-height: 51.81px;
  color: #ffffff;

  text-decoration: none;
}

.main-footer__list-social {
  display: flex;

  margin: 20px auto;
  padding: 0;

  flex-direction: row;
  flex-wrap: wrap;

  list-style: none;
}

.main-footer__item-social {
  margin: 0;
  margin-right: 25px;
  padding: 0;

  &:last-child {
    margin-right: 0;
  }
}

.main-footer__link-social {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    flex-direction: row;
  }

  .main-footer__list {
    margin-top: 50px;
    flex-direction: row;
  }

  .main-footer__item {
    margin-right: 15px;
  }

  .main-footer__list-social {
    margin-top: 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .main-footer__wrapper {
    max-width: 1170px;
  }

  .main-footer__item {
    margin-right: 40px;
  }
}
