@import "../variabless.less";

.main-start {
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.main-start__wrapper {
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 68px;
  padding-bottom: 80px;

  max-width: 500px;

  text-align: center;
}

.main-start__title {
  margin: 0;
  padding: 0;

  font-family: "Montserrat Extra";
  font-size: 40px;
  line-height: 51.81px;
  color: #3c3c3c;
}

.main-start__title b {
  color: #fa4a33;
}

.main-start__list {
  display: flex;

  margin: 0;
  margin-top: 20px;
  padding: 0;

  flex-direction: column;
  flex-wrap: wrap;

  list-style: none;
}

.main-start__item {
  margin: 0;
  padding: 0;

  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 19px;
  line-height: 29.13px;
  color: #4f4f4f;
}

.main-start__text {
  display: inline-block;

  margin: 0;
  padding: 0;
  padding-top: 130px;

  position: relative;

  &::before {
    position: absolute;
    content: "";

    top: 22px;
    left: 60px;

    width: 100px;
    height: 100px;

    background-image: url("../img/content.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.main-start__item:nth-child(2) .main-start__text::before {
  left: 80px;

  background-image: url("../img/pay.png");
}

.main-start__item:nth-child(3) .main-start__text::before {
  left: 40%;

  background-image: url("../img/infographics.png");
}

.main-start__item:nth-child(4) .main-start__text::before {
  left: 40%;

  background-image: url("../img/discounts.png");
}

.main-start__text br {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-start__list {
    flex-direction: row;
  }

  .main-start__item {
    flex-basis: 50%;
  }
}

@media (min-width: @desktop-width) {
  .main-start__wrapper {
    max-width: 1170px;
  }

  .main-start__title {
    font-size: 50px;
  }

  .main-start__list {
    margin-top: 30px;
    
    justify-content: space-around;
  }

  .main-start__item {
    flex-basis: 22%;
  }
}
