.main-header-contacts {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;

  background-color: #292929;
}

.main-header-contacts__wrapper {
  display: flex;

  margin: 0;
  padding: 0;

  flex-direction: row;
}

.main-header-contacts__list-social {
  display: flex;

  margin: 0;
  margin-top: 10px;
  margin-left: 19.2%;
  padding: 0;

  flex-direction: row;
  flex-wrap: wrap;

  list-style: none;
}

.main-header-contacts__item-social {
  margin: 0 5px;
  padding: 0;
}

.main-header-contacts__link-social {
  margin: 0;
  padding: 0;
}

.main-header-contacts__icon-social {
  display: block;

  margin: 0;
  padding: 0;
}

.main-header-contacts__list {
  display: flex;

  margin: 0;
  margin-left: 35%;
  margin-top: 11px;
  padding: 0;

  flex-direction: row;
  flex-wrap: wrap;

  list-style: none;
}

.main-header-contacts__item {
  margin: 0;
  margin-right: 47px;
  padding: 0;

  &:last-child {
    margin-right: 0;
  }
}

.main-header-contacts__link {
  margin: 0;
  padding: 0;
  padding-left: 23px;

  position: relative;

  color: #ffffff;

  text-decoration: none;
}

.main-header-contacts__link--skype::before {
  position: absolute;
  content: "";

  top: 2px;
  left: -1px;

  width: 15px;
  height: 15px;

  background-image: url("../img/SKYPE.png");
  background-repeat: no-repeat;
}

.main-header-contacts__link--mail::before {
  position: absolute;
  content: "";

  top: 4px;
  left: -1px;

  width: 18px;
  height: 13px;

  background-image: url("../img/EMAIL.png");
  background-repeat: no-repeat;
}
